@import '../Scss/Style.scss';


@font-face {
    font-family: "Beyno";
    src: url("../fonts/BEYNO.ttf");
  }

  body {
    font-family: "Beyno", sans-serif;
    width: 1440px;
    height: 3239px;
    float: left;
    background-color: $Primary;
}
  

  