@import '../../Scss/Style.scss';

.logo{
    width: 90px;
    height: 90px;
    border-radius: 360px;
    background: #001818;
    background-image: url('../../Assets/Essentials/Logo.png');
    background-position: center;
    background-size: contain;
    position: absolute;
    margin-top: -40px;
    margin-left: 50px;
    float: left;
    z-index: 3;
    position: relative;
}

.logo:hover{
    background-image: url('../../Assets/Essentials/Logo_Hover.png');
    // background-image: url('../../Assets/Essentials/Logo_hover2.png');
}
