@import '../../Scss/Style.scss';

.me{
    width: 80px;
    height: 80px;
    border-radius: 360px;
    background-color: #001818;
    background-image: url('../../Assets/Me/Tsebo.png');
    background-position: center;
    background-size: cover;
    margin-top: -40px;
    margin-left: 1470px;
    float: left;
    z-index: 3;
}

.me:hover{
    background-image: url('../../Assets/Me/TseboHover.jpg');
    // background-image: url('../Assets/Assets/Me/TseboHover.jpg');
    // background-image: url('../../Assets/Essentials/Logo_hover2.png');
}



