@import '../../Scss/Style.scss';
@import "react-slideshow-image/dist/styles.css";


.anime_back{
    width: 1800px;
    height: 700px;
    // background: red;
    background-image: url('../../Assets/Essentials/Anime_Background.png');
    background-position: center;
    background-size: cover;
    float: left;
    margin-top: -50px;
    position: relative;
    z-index: 1;
}



  
//   #second {
//     z-index: 2; 
//     background-color: #192733;
//     top: 30px;
//     left: 30px;
//   }
  
//   #third {
//     z-index: 1;
//     background-color: #4FB06D;
//     top: 50px;
//     left: 50px;
//   }

// div {
//     position: absolute;
//     width: 75px;
//     height: 75px;
//     border-radius: 10px;
//     color: white;
//     padding: 5px;
//     text-align: right;
//   }